    body {
      margin: 0;
      padding: 0;
      background-color: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #board {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
      width: 800px;
      max-width: 100%;
      grid-template-rows: repeat(auto-fill, 20px);
      gap: 2px;
    }

    .box {
      width: 20px;
      height: 20px;
      background-color: #222;
      transition: background-color 0.3s;
    }
