body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 5px;
}

.square {
  width: 40px;
  height: 40px;
  background-color: #2B2B2B;
  transition: background-color 1s ease;
  border-radius: 4px;
}
